<!-- CONTENT GRID -->
<div class="content-grid">
  <!-- SECTION BANNER -->
  <!-- SECTION HEADER -->
  <div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
      <!-- SECTION PRETITLE -->
      <p class="section-pretitle">Overview</p>
      <!-- /SECTION PRETITLE -->

      <!-- SECTION TITLE -->
      <h2 class="section-title">My Profile</h2>
      <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>
  <!-- /SECTION HEADER -->

  <!-- GRID -->
  <div class="grid">
    <!-- GRID -->

    <!-- /GRID -->

    <!-- GRID -->
    <div class="grid grid-layout-1">
      <!-- GRID COLUMN -->
      <div class="grid-sidebar">
        <!-- PROFILE STATS -->
        <div class="profile-stats fixed-height">
          <!-- PROFILE STATS COVER -->

          <div class="profile-stats-cover">
            <!-- PROFILE STATS COVER TITLE -->
            <p class="profile-stats-cover-title">Welcome Back!</p>
            <!-- /PROFILE STATS COVER TITLE -->

            <!-- PROFILE STATS COVER TEXT -->
            <p class="profile-stats-cover-text"><%= name %></p>
            <!-- /PROFILE STATS COVER TEXT -->
          </div>
          <!-- /PROFILE STATS COVER -->

          <!-- PROFILE STATS INFO -->
          <div class="profile-stats-info">
            <!-- USER AVATAR -->
            <div class="user-avatar medium">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-120-132"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->

              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div>
                  <a href="/profile"
                    ><img
                      src="<%= currentUser.profilePic || '/images/pikachu.webp' %>"
                      alt="Profile Picture"
                      class="rounded-circle profile-pic"
                  /></a>
                </div>
                <!-- /HEXAGON -->
              </div>
            </div>

            <!-- /CONTENT GRID -->
          </div>
        </div>
      </div>
      <form
        action="/auth/profile-upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="profilePic">Profile Picture</label>
          <input
            type="file"
            class="form-control-file"
            id="profilePic"
            name="profilePic"
          />
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </form>
    </div>
  </div>
</div>

<script>
  //to prevent user from pressing upload without selecting file first
  document
    .querySelector(".btn.btn-primary")
    .addEventListener("click", function (event) {
      var fileInput = document.getElementById("profilePic");
      if (fileInput.files.length === 0) {
        event.preventDefault();
        alert("Please select a file before uploading");
      }
    });
</script>
